@import url('fonts.css');
* {
    margin: 0;
    padding: 0;
}
.container {
    width: 1440px;
    margin: 0 auto;
    position: relative;
}
a, p {
    font-family: 'Roboto', 'sans-serif';
}
a {
    text-decoration: none;
}
.wrapper-block-1 {
    background-color: #e7f066;
    position: relative;
}
.wrapper-block-1_img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.wrapper-block-1 span {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 1.2px;
    color: #EBEBEB;
    text-transform: uppercase;
    position: absolute;
    z-index: 2;
    top: 168px;
    left: 40px;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 26px 12px 0 26px;
}
.logo {
    position: relative;
}
.logo img {
    position: absolute;
    z-index: 2;
}
.nav-menu_right-part {
    display: flex;
}
.basket-block p {
    color: #262626;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 1.2px;
}
.burger-block {
    margin-left: 40px;
    margin-top: -15px;
}
.burger-block button {
    width: 50px;
    height: 50px;
    padding: 20px 15px;
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
}
.burger_item, .burger_item::after {
    display: block;
    width: 20px;
    height: 2px;
    top: 20px;
    background-color: #262626;
    position: absolute;
}
.burger_item::after {
    content: "";
    top: 6px;
}
.wrapper-block-1_desc {
    width: 275px;
    margin: 119px 45px 0 1120px;
}
.wrapper-block-1_desc p {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.5px;
    margin-bottom: 21px;
    color: #262626;
}
.wrapper-block-1_desc a {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 1.2px;
    color: #262626;
    padding-bottom: 5px;
    border-bottom: 1px solid #262626;
}
.wrapper-block-1_title {
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.5px;
    margin: 450px 0 0 40px;
    padding-bottom: 40px;
}
.cookie-block {
    position: fixed;
    z-index: 3;
    right: 32px;
    bottom: 32px;
    background-color: #1B1B1B;
    padding: 47px 53px 48px 48px;
}
.cookie-block p {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5px;
    color: #F1F1EE;
    width: 275px;
}
.cookie-block button {
    margin-top: 3px;
    padding-bottom: 5px;
    background: none;
    color: #F1F1EE;
    border: none;
    border-bottom: 1px solid #F1F1EE;
}
.wrapper-block-2 {
    background-color: #9c8554;
    display: flex;
    justify-content: space-between;
    padding: 0 0 40px 40px;
    color: #B2B2B2;
}
.wrapper-block-2_part-1, .wrapper-block-5_part-1, .wrapper-block-7_part-1, .wrapper-block-8_part-1 {
    margin-top: 39px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.down-block p {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5px;
    width: 278px;
    margin-bottom: 22px;
}
.down-block a {
    text-transform: uppercase;
    padding-bottom: 5px;
    color: #B2B2B2;
    border-bottom: 1px solid #B2B2B2;
}
.wrapper-block-2_part-2 p, .wrapper-block-5_part-2 p, .wrapper-block-7_part-2 p {
    margin: 40px 39px 0 0;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.5px;
    text-align: right;
}
.wrapper-block-3 {
    display: flex;
}
.wrapper-block-4 {
    background-color: #EBEBEB;
    display: flex;
    padding: 115.81px 25px 115.83px 25px;
    color: #262626;
}
.wrapper-block-4 img {
    margin-right: 29.83px;
}
.wrapper-block-4_text {
    margin-top: 127.19px;
    letter-spacing: 0.5px;
}
.wrapper-block-4_text p:first-child {
    font-size: 15px;
    line-height: 19px;
}
.wrapper-block-4_text p:nth-child(2) {
    font-size: 28px;
    line-height: 32px;
    width: 234px;
    margin-top: 11px;
}
.wrapper-block-4_text p:nth-child(3) {
    font-size: 14px;
    line-height: 19px;
    margin-top: 39px;
    width: 285px;
}
.wrapper-block-4_text p:nth-child(4) {
    font-size: 16px;
    line-height: 19px;
    margin: 20px 0 21px 0;
    width: 308px;
}
.wrapper-block-4_text a {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 1.2px;
    color: #262626;
    border-bottom: 1px solid #262626;
    padding-bottom: 5.48px;
}
.wrapper-block-5 {
    background-color: #a26779;
    display: flex;
    justify-content: space-between;
    padding: 0 0 40px 40px;
    color: #B2B2B2;
}
.wrapper-block-5_part-1 p, .wrapper-block-7_part-1 p, .wrapper-block-8_part-1 p {
    font-size: 15px;
}
.wr-bl-5_down-block p, .wr-bl-7_down-block p {
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.5px;
    width: 274px;
    margin-bottom: 22px;
}
.wr-bl-5_down-block a, .wr-bl-7_down-block a {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding-bottom: 5px;
    color: #B2B2B2;
    border-bottom: 1px solid #B2B2B2;
}
.wrapper-block-6 {
    position: relative;
}
.wrapper-block-6 .product-info {
    position: absolute;
    top: 119px;
    left: 40px;
    color: #262626;
}
.product-info p:first-child {
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.5px;
}
.product-info P:nth-child(2) {
    margin-top: 11px;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.5px;
}
.product-info P:nth-child(3) {
    margin-top: 39px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5px;
    width: 278px;
}
.product-info a {
    margin-top: 3px;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 1.2px;
    padding-bottom: 5px;
    color: #262626;
    border-bottom: 1px solid #262626;
}
.wrapper-block-7 {
    margin-top: -5px;
    background-color: #504b4d;
    display: flex;
    justify-content: space-between;
    padding: 0 0 40px 40px;
    color: #B2B2B2;
}
.wrapper-block-8 {
    background-color: #b04836;
    display: flex;
    justify-content: space-between;
    padding: 0 0 17px 40px;
    color: #B2B2B2;
}
.wr-bl-8_down-block p {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5px;
    width: 272px;
    margin-bottom: 22px;
}
.wr-bl-8_down-block a {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 1.0px;
    padding-bottom: 5.38px;
    color: #B2B2B2;
    border-bottom: 1px solid #B2B2B2;
}
.wrapper-block-8_part-2 p {
    margin: 63px 39px 0 0;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.5px;
    text-align: right;
}